<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- access to title and description in locals object -->
    <title><%= locals.title %></title>
    <meta name="description" content="<%= locals.description %>" />
    <link rel="stylesheet" href="/css/style.css" />
    <script type="text/javascript" defer src="js/script_admin.js"></script>
    <!-- remixicons -->
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <!-- browser icon -->
    <link rel="icon" href="/img/blog-browser-icon-2.png" />
  </head>
  <body>
    <div class="container">
      <%- include("../partials/header_admin.ejs") %>
      <!-- include the dynamic content from the BODY of the view being rendered (index, about) -->
      <main class="main"><%- body %></main>
      <%- include("../partials/footer.ejs") %>
    </div>
  </body>
</html>
